<template>
  <div>
    <Navigation />
    <div class="container">
      <div class="flex justify-center">
        <div class="w-3/5">
          <h1>{{ article.title }}</h1>
          <p v-if="article.published_at">
            {{ moment(article.published_at).format("DD-MM-YYYY") }}
          </p>
          <div v-if="article.image" class="mt-10">
            <img :src="getStrapiMedia(article.image.url)" />
          </div>
          <div class="mt-10">
            <div v-if="article.content" v-html="$md.render(article.content)" />
          </div>
        </div>
      </div>
    </div>
    <Footer />
  </div>
</template>

<script>
import moment from "moment";
import Navigation from "~/components/Navigation.vue";
import Footer from "~/components/Footer.vue";
import { getStrapiMedia } from "~/utils/medias.js";

export default {
  components: {
    Navigation,
    Footer,
  },
  async asyncData({ $strapi, params }) {
    const matchingArticles = await $strapi.find("articles", {
      slug: params.slug,
    });
    return {
      article: matchingArticles[0],
    };
  },
  data() {
    return {
      apiUrl: "process.env.strapiBaseUri",
    };
  },
  methods: {
    moment,
    getStrapiMedia,
  },
};
</script>
