<template>
  <nuxt-link
    :key="article.id"
    :to="{ name: 'articles-slug', params: { slug: article.slug } }"
  >
    <div class="c-card">
      <div class="c-card__image">
        <img :src="getStrapiMedia(article.image.url)" />
      </div>
      <div class="c-card__content">
        <h3 v-if="article.category" id="category">
          {{ article.category.title }}
        </h3>
        <p id="title">{{ article.title }}</p>
		<div class="c-card__link mt-5">
			Lees meer
		</div>
      </div>
    </div>
  </nuxt-link>
</template>

<script>
import { getStrapiMedia } from "~/utils/medias.js";
export default {
  props: {
    article: {
      type: Object,
      default: () => ({}),
    },
  },
  methods: {
    getStrapiMedia,
  },
};
</script>

<style lang="scss" scoped>
.c-card {
  border-radius: 8px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  transition: all 0.3s ease-out;

  &__image{
	  overflow: hidden;
  }

  img {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
	transition: all 0.3s ease-out;
  }

  &__content {
    padding: 2rem;
  }

  &:hover{
	  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
	  img{
		  transform: scale(1.05);
	  }
  }
  &__link{
	  color: #9dd1bb;
	  text-decoration: underline;
  }
}
</style>
