<template>
  <div class="grid grid-cols-3 gap-10 mt-10">
    <ArticleCard
      v-for="article in articles"
      :key="article.id"
      :article="article"
    />
  </div>
</template>
 
<script>
import ArticleCard from "~/components/ArticleCard.vue";

export default {
  components: {
    ArticleCard,
  },
  props: {
    articles: {
      type: Array,
      default: () => [],
    },
  },
};
</script>
