<template>
  <nav class="mt-10">
    <p>Categories:</p>
    <ul>
      <li>
        <nuxt-link to="/blog" tag="a">All articles</nuxt-link>
      </li>
      <li v-for="category in categories" :key="category.id">
        <nuxt-link
          :to="{ name: 'categories-slug', params: { slug: category.slug } }"
          tag="a"
        >
          {{ category.title }}
        </nuxt-link>
      </li>
    </ul>
  </nav>
</template>

<script>
export default {
  data: function () {
    return {
      categories: [],
    };
  },
  async fetch() {
    this.categories = await this.$strapi.find("categories");
  },
};
</script>

<style lang="scss" scoped>
nav {
  padding: 1rem;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  p {
    font-weight: bold;
    display: inline-block;
    margin-right: 1rem;
  }
  ul {
    display: flex;
    margin: 0;
    padding: 0;
    li {
      list-style-type: none;
      margin-left: 0;
      margin-bottom: 0;
      &:not(:last-child) {
        margin-right: 1.5rem;
      }
      a {
        padding: 10px 12px;
        border: 2px solid #EEEEEE;
		border-radius: 30px;
		transition: all 0.3s ease-out;
		font-weight: 300;
        &.nuxt-link-active, &:hover {
          color: #9dd1bb;
		  border-color: #9dd1bb;
        }
      }
    }
  }
}
</style>