<template>
    <footer class="mt-16">
        <div class="c-footer-content p-10">
            <p>&copy; Elke Moras {{ new Date().getFullYear() }}</p>
        </div>
    </footer>
</template>

<script>
  export default {
    name: 'Footer'
  }
</script>

<style lang="scss">

    .c-footer-content {
                background-color:#F9FAFB;

        p {
            text-align: center;
            margin:0;
        }
    }

</style>