<template>
  <div class="c-hero">
    <div class="flex flex-wrap">
      <div
        class="w-full xl:w-6/12 2xl:w-7/12 flex flex-col justify-center items-center"
      >
        <div class="c-hero__content text-center xl:text-right xl:p-24 p-10">
          <h1>Elke Moras</h1>
          <h2>Creative Web Development, Design &<br />Internet Architecture</h2>
          <div class="c-hero__social u-text-center u-text-right-xl">
            <a href="https://www.linkedin.com/in/elkemoras/" target="_blank">
              <font-awesome-icon :icon="['fab', 'linkedin-in']" />
            </a>
            <a href="mailto:hello@elkemoras.be" target="_blank">
              <font-awesome-icon :icon="['far', 'envelope']" />
            </a>
          </div>
        </div>
      </div>
      <div class="w-full xl:w-6/12 2xl:w-5/12">
        <img src="~/assets/images/elkemoras.jpg" class="c-hero__image" />
      </div>
    </div>
    <div class="flex flex-wrap justify-centent">
      <div class="w-full lg:w-1/2 2xl:w-7/12 text-center flex">
        <div class="flex flex-col lg:flex-row flex-grow">
          <div class="p-10 2xl:px-32 c-hero__border--y c-hero__border--right flex-grow">
            <h3>Web development</h3>
            <p>
              I create (Wordpress) websites & I create custom plugins. I can
              also help you with SEO optimisation.
            </p>
          </div>
          <div class="p-10 2xl:px-32 c-hero__border--y flex-grow">
            <h3>Design</h3>
            <p>
              Looking for a new interface for your website, some banners or a
              new logo? I can help you to improve your visual communication
            </p>
          </div>
        </div>
      </div>
      <div class="w-full lg:w-1/2 2xl:w-5/12 text-center flex flex-grow">
        <div class="c-hero__contact p-10 flex-grow">
          <h2>Want to collaborate?</h2>
          <a href="mailto:hello@elkemoras.be" class="c-button">
            Send me a message
          </a>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {};
</script>

<style lang="scss">
.c-hero {
  &__border--y {
    border-top: 1px solid #e9fcf4;
    border-bottom: 1px solid #e9fcf4;
  }
  &__border--right {
    @screen lg {
      border-right: 1px solid #e9fcf4;
    }
  }
  &__content {
    width: 100%;
    background-color: #e9fcf4;

    .c-hero__social {
      a {
        display: inline-block;
        svg {
          margin: 10px;
          width: 24px;
          height: auto;

          path {
            fill: #000000;
            transition: all 0.3s ease-out;
          }
        }
        &:hover {
          svg {
            path {
              fill: #9dd1bb;
            }
          }
        }
      }
    }
  }

  .c-button {
    background-color: #c9ecde;
    padding: 1rem 2.3rem;
    border-radius: 30px;
    display: inline-block;
    margin-top: 1rem;
    transition: all 0.3s ease-out;

    &:hover {
      background-color: darken(#e9fcf4, 5%);
    }
  }

  &__contact {
    background-color: #f9fafb;
  }
  &__image {
    width: 100%;
    max-width: 100%;
    height: auto;
    display: block;
  }
}
</style>