<template>
  <div class="c-kleurcode u-padding-y-xl u-margin-top-xl">
    <div class="container">
      <div class="flex flex-column flex-align-center">
        <h2 class="text-center">Looking for more projects?</h2>
        <p
          class="u-text-center"
        >I create all my new projects under the title of "Kleurcode". Want to collaborate?</p>
        <a href="https://www.kleurcode.be" class="c-button" target="_blank">Visit kleurcode</a>
      </div>
    </div>
  </div>
</template>

<script>
export default {};
</script>

<style lang="scss">
.c-kleurcode {
  background-color: #ff5e62;
  color: #ffffff;
}
.c-button {
  padding: 0.625em 1.25em;
  background-color: #ffffff;
  text-align: center;
  display: inline-block;
  color: #ff5e62;
  font-weight: bold;
  transition: all 0.3s ease-out;
  &:hover {
    background-color: lighten(#ffffff, 20%);
  }
}
</style>