<template>
    <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
         viewBox="0 0 112.4 19.4" style="enable-background:new 0 0 112.4 19.4;" xml:space="preserve">
<g>
	<path d="M14,2.1c0.1,0,0.2,0.1,0.3,0.1c0.1,0.1,0.2,0.4,0.4,0.8C15,3.6,15.1,4,15.1,4.3c0,0.3,0,0.6-0.1,1
		c-0.1,0.3-0.2,0.5-0.4,0.5c-0.3,0-0.5-0.3-0.7-1c-0.2-0.7-0.3-1.1-0.4-1.3c-0.5-1-1-1.7-1.5-2.2c-0.5-0.5-1-0.7-1.5-0.7
		c-0.2,0-0.4,0-0.7,0.1C8.7,1.2,8.1,2.3,8.1,4c0,0.5,0.1,1.2,0.3,1.9c0.2,0.7,0.5,1.4,0.9,2C9.5,8,9.9,8.1,10.7,8.1
		c0.4,0.1,0.7,0.2,0.7,0.4c0.1,0.2,0,0.4-0.3,0.6C11,9.3,10.4,9.3,9.4,9C9.1,8.9,8.9,8.9,8.9,8.9c-0.9,0-2,0.2-3.1,0.6
		c-1.2,0.4-2.2,1-3.2,1.8c-1,0.8-1.5,1.7-1.5,2.7c0,0.7,0.3,1.3,0.9,1.8c0.6,0.5,1.6,0.7,2.9,0.7c1.3,0,2.8-0.2,4.4-0.6
		c1.6-0.4,2.9-0.9,3.8-1.3c0.9-0.5,1.8-1.1,2.7-2c0.9-0.9,1.4-1.6,1.4-2.2c0-0.1,0-0.2,0-0.3c0-0.1,0-0.1,0-0.1c0.1-0.1,0.2,0,0.3,0
		c0.2,0.4,0.3,0.8,0.3,1c0,0.7-0.2,1.3-0.7,1.9c-0.8,1-1.7,1.7-2.7,2.3c-1,0.6-2.4,1-4.1,1.4C8.6,16.8,7.1,17,6,17S3.8,16.9,3,16.7
		c-0.8-0.2-1.5-0.6-2.1-1.2C0.3,14.9,0,14.1,0,13.2c0-0.9,0.2-1.7,0.7-2.3c0.4-0.6,1-1.1,1.6-1.4c0.6-0.3,1.3-0.6,2.2-0.8
		C5.7,8.3,7.1,8.1,8.6,8c-1.1-1.3-1.8-2.7-2-4.4c0-0.2,0-0.4,0-0.5c0-0.6,0.1-1.2,0.4-1.7c0.3-0.5,0.8-0.9,1.5-1.1
		C9.3,0.1,9.8,0,10.1,0c0.3,0,0.6,0,0.8,0.1c0.2,0,0.3,0.1,0.4,0.1c0.1,0,0.2,0.1,0.4,0.2c0.1,0.1,0.2,0.1,0.3,0.2
		c0.1,0.1,0.2,0.1,0.3,0.2C12.4,0.9,12.5,1,12.5,1c0.1,0,0.1,0.1,0.3,0.3s0.2,0.2,0.3,0.2C13.3,1.8,13.6,2,13.8,2
		C13.8,2.1,13.9,2.1,14,2.1z"/>
    <path d="M20,11.9c-0.2,0.6-0.3,1-0.3,1.2c0,0.2,0,0.5,0,0.8c0,0.3,0.1,0.6,0.3,0.9c0.3,0.5,0.8,0.5,1.5,0.1
		c0.5-0.3,1.2-0.8,1.9-1.5c0.8-0.7,1.4-1.4,1.8-2c0-0.1,0.1-0.1,0.2-0.1c0.2,0,0.2,0.1,0.1,0.3c-0.3,0.5-0.7,1-1.4,1.8
		c-0.7,0.7-1.3,1.3-1.9,1.7c-0.6,0.4-1.1,0.6-1.7,0.6c-1.3,0-1.9-0.6-1.9-1.9c0-0.1,0-0.1,0-0.2c0.1-1.2,0.7-3,1.8-5.4
		c1.1-2.4,2.2-4.2,3.1-5.5l0.8-1C24.3,1.6,24.6,1.3,25,1c0.7-0.6,1.4-1,2.1-1c0.7,0,1.2,0.2,1.5,0.7c0.1,0.2,0.1,0.4,0.1,0.7
		c0,0.3-0.1,0.7-0.4,1.2C26.5,5.6,23.8,8.7,20,11.9z M27.6,2.1c0.2-0.4,0.3-0.7,0.3-0.9c0-0.4-0.1-0.5-0.4-0.5
		c-0.2,0-0.5,0.1-0.9,0.4c-1.4,1.1-2.7,2.7-4,5c-1,1.8-1.8,3.4-2.2,4.7c1.2-0.8,2.5-2.1,3.9-3.9C25.8,5.1,26.9,3.5,27.6,2.1z"/>
    <path d="M25.9,15.3c-0.6,0.3-1,0.5-1.2,0.5s-0.3,0-0.3-0.1s0-0.1,0-0.2c0-0.1,0.1-0.4,0.4-1c0.2-0.6,0.5-1.3,0.8-2.2
		c0.3-0.9,0.6-1.6,0.8-2.2c-0.4,0.4-0.9,1-1.4,1.8C25,12,24.9,12.1,24.8,12c-0.1-0.1-0.1-0.2,0.1-0.5c0.6-0.7,1.3-1.7,2.1-2.9
		c-0.3-0.1-0.4-0.3-0.4-0.4s0-0.2,0.1-0.3c0.1-0.2,0.2-0.2,0.5-0.1c0.1,0,0.2,0.1,0.2,0.1c0.7-2,1.7-3.7,2.8-5.3
		c0.6-0.9,1.3-1.5,1.9-1.9C32.8,0.2,33.4,0,34,0c0.4,0,0.8,0.1,1.2,0.3c0.4,0.2,0.6,0.5,0.6,1c0,0.9-0.7,2.1-2.2,3.7
		c-0.8,0.8-1.7,1.6-2.6,2.3c-1,0.7-1.8,1.2-2.6,1.5c-0.7,1.5-1.3,3-1.8,4.6l1.7-2.2c0-0.2,0-0.3,0-0.5c0-0.5,0.1-0.8,0.3-0.9
		c0.1-0.1,0.2,0.1,0.2,0.3l0.1,0.4c1.3-1.5,2.3-2.4,2.8-2.7c0.3-0.1,0.5-0.2,0.7-0.2c0.2,0,0.4,0.1,0.6,0.2c0.2,0.1,0.3,0.2,0.3,0.4
		c0,0.2-0.2,0.5-0.6,0.6c-1.9,0.9-3.1,1.7-3.7,2.3c0.4,1.4,0.8,2.6,1.2,3.4c0.4,0.8,1,1.7,1.9,2.8c0.8,1,1.6,1.5,2.3,1.5
		c0.6,0,0.8-0.3,0.7-0.8c-0.1-0.5-0.2-0.9-0.4-1.2c-0.2-0.3-0.2-0.5-0.1-0.5c0.2,0,0.3,0.1,0.5,0.2c0.1,0.1,0.2,0.3,0.4,0.6
		c0.1,0.3,0.2,0.5,0.2,0.8c0,0.5-0.2,0.9-0.7,1.1s-0.9,0.4-1.3,0.4c-0.8,0-1.6-0.4-2.4-1.2c-0.8-0.8-1.4-1.7-1.9-2.9
		c-0.5-1.1-0.9-2.3-1.1-3.4c-0.3,0.4-0.6,0.9-1,1.5C26.5,14.6,26.1,15.2,25.9,15.3z M34.3,2.7c0.5-0.8,0.7-1.3,0.7-1.6
		s-0.1-0.5-0.4-0.5c-0.3,0-0.6,0.2-1,0.5c-1.1,0.8-2,1.8-2.8,2.8c-0.7,1.1-1.5,2.4-2.2,4c1.6-0.7,3-1.8,4.3-3.3
		C33.4,4.1,33.8,3.5,34.3,2.7z"/>
    <path d="M39.4,7.7c0.9,0,1.4,0.4,1.4,1.3c0,0.5-0.1,0.8-0.4,1.1c-0.4,0.6-1.1,1.2-2.1,1.6c-1,0.5-1.8,0.7-2.4,0.8
		c-0.2,0-0.4-0.1-0.4-0.2c0-0.1,0-0.1,0.1-0.1c0.1,0,0.1,0,0.1,0c0.4,0,0.9-0.2,1.5-0.6c1.1-0.6,2-1.2,2.5-1.9
		c0.2-0.3,0.3-0.6,0.3-0.9c0-0.3-0.1-0.4-0.4-0.4c-0.2,0-0.5,0.1-0.9,0.3c-0.8,0.4-1.6,1-2.5,2c-0.9,0.9-1.5,1.8-1.7,2.7
		c-0.1,0.3-0.1,0.5-0.1,0.8c0,0.3,0.1,0.5,0.3,0.8c0.2,0.2,0.6,0.4,1,0.4c0.5,0,1.1-0.1,1.8-0.4c1.9-0.8,3.4-2,4.4-3.6
		c0.1-0.1,0.2-0.2,0.3-0.1c0.1,0,0.1,0.1,0.1,0.1c0,0.1,0,0.1-0.1,0.2c-0.5,0.9-1.2,1.6-1.9,2.3c-1.5,1.3-3,1.9-4.4,1.9
		c-1.2,0-2.1-0.4-2.6-1.1c-0.2-0.3-0.3-0.6-0.3-1c0-0.4,0.1-0.9,0.3-1.5c0.4-1,1.3-2,2.7-3C37.5,8.2,38.6,7.7,39.4,7.7z"/>
    <path d="M51.7,13.1c-1.5,2.9-3,4.3-4.3,4.3c-0.9,0-1.3-0.4-1.3-1.3c0-0.5,0.2-1.1,0.6-1.8c0.7-1.1,1.8-2.4,3.3-4
		c1.5-1.6,2.7-2.9,3.7-3.8l1-3.3c-0.9,0.8-2,1.3-3.3,1.4c-0.2,0-0.3,0-0.3-0.2c0-0.1,0.1-0.2,0.2-0.2l0.1,0c0.7-0.1,1.5-0.5,2.3-1.1
		c0.8-0.7,1.4-1.5,1.8-2.4c0.1-0.2,0.4-0.3,0.9-0.3c0.5,0,0.8,0.1,0.8,0.3L55.3,5c2.3-2,4-3,5-3c0.1,0,0.2,0,0.4,0
		c1.3,0,2.3,0.4,2.8,1.3C63.8,4,64,4.9,64,5.9c0,1.5-0.5,3.6-1.4,6.4c-0.2,0.5-0.2,0.7-0.2,0.8c0,0,0.1,0,0.1-0.2
		c0.1-0.1,0.2-0.3,0.3-0.5c0.1-0.2,0.5-0.8,1-1.7c2-3.3,4-6,6-8.2c0.7-0.7,1.3-1,2-1c0.4,0,0.7,0.1,0.9,0.4c0.2,0.3,0.3,0.6,0.3,0.9
		c0,0.3-0.1,0.8-0.2,1.4c-0.1,0.6-0.6,1.8-1.3,3.6c-0.9,2.2-1.4,4.1-1.4,5.5c0,1.1,0.3,1.7,0.9,1.7c0.4,0,1-0.3,1.8-0.8
		c1.1-0.9,2-1.9,2.7-2.8c0.1-0.1,0.2-0.1,0.2-0.1c0.1,0.1,0.1,0.1,0.1,0.2c0,0,0,0.1-0.1,0.1c-0.3,0.5-0.8,1.1-1.5,1.8
		c-1.1,1.2-2.1,1.9-2.8,2.1c-0.3,0.1-0.7,0.2-1,0.2c-1.1,0-1.7-0.8-1.7-2.4c0-0.8,0.1-1.6,0.3-2.4c0.2-0.8,0.4-1.4,0.5-1.8
		c0.1-0.4,0.3-0.9,0.5-1.5c0.2-0.6,0.4-1,0.5-1.3c0.4-1.1,0.7-1.8,0.8-2.1s0.2-0.5,0.2-0.7c0-0.2-0.1-0.3-0.2-0.4s-0.2-0.1-0.4-0.1
		c-0.2,0-0.4,0.2-0.8,0.5c-1.3,1.1-2.8,2.9-4.4,5.3c-1.6,2.4-2.8,4.3-3.5,5.7c-0.1,0.3-0.3,0.4-0.4,0.4c-0.1,0-0.3-0.1-0.4-0.4
		c-0.2-0.2-0.2-0.4-0.2-0.5c0-0.1,0-0.2,0-0.2c0.4-1.1,0.8-2.3,1-3.6c0.2-1.3,0.3-2.3,0.3-3.1c0-2.9-0.6-4.3-1.9-4.3
		c-1.2,0-3.3,1.4-6.3,4.2c-0.2,0.4-0.5,1.2-1,2.4C52.8,10.8,52.2,12,51.7,13.1z M47.4,16.5c1.1,0,2.4-1.5,3.9-4.4
		c0.9-1.6,1.5-3,1.8-4c-0.9,0.9-1.9,1.9-3,3.1c-1.1,1.2-1.9,2.2-2.3,2.8c-0.6,0.8-0.9,1.4-0.9,1.9C46.9,16.3,47.1,16.5,47.4,16.5z"
    />
    <path d="M80.5,12.3c0.3-0.6,0.5-1.1,0.5-1.5c0-0.3,0-0.6-0.1-0.8c-0.1-0.2,0-0.4,0.1-0.5c0.1-0.1,0.3-0.2,0.5-0.2
		c0.3,0.1,0.5,0.5,0.5,1.1c0,0.7-0.4,1.6-1.2,2.7c0,0.5,0.3,0.7,0.7,0.7c0.5,0,1.2-0.5,2.1-1.5c0.4-0.5,0.7-0.8,0.8-1
		c0.1-0.2,0.2-0.2,0.3-0.2c0.1,0,0.1,0.1,0.1,0.1c0,0.2-0.3,0.6-0.9,1.3c-1,1.2-1.8,1.8-2.6,1.8c-0.5,0-0.8-0.2-1-0.6
		c-0.3,0.4-0.7,0.7-1,1c-0.7,0.6-1.4,0.8-2.2,0.8c-0.5,0-0.8-0.1-1.1-0.3c-0.6-0.4-0.9-1-0.9-1.9c0-1,0.3-2,1-3.1
		c0.4-0.6,0.9-1.1,1.4-1.6c0.8-0.7,1.6-1.1,2.4-1.1c0.2,0,0.4,0,0.5,0.1c0.5,0.2,0.8,0.5,0.8,1c0,0.4-0.1,0.6-0.3,0.6
		c-0.1,0-0.1-0.2-0.1-0.4c0-0.3-0.2-0.5-0.5-0.5c-0.6,0-1.4,0.5-2.3,1.6c-0.9,1.1-1.5,2.2-1.7,3.3c0,0.2-0.1,0.4-0.1,0.6
		c0,0.2,0.1,0.5,0.2,0.8c0.2,0.3,0.4,0.4,0.9,0.4c0.4,0,0.9-0.2,1.4-0.6c0.5-0.4,0.9-0.9,1.3-1.4l-0.1-0.2c-0.1-0.3,0-0.5,0.1-0.7
		C80.1,12.3,80.3,12.2,80.5,12.3z"/>
    <path d="M87.6,15.8c-0.9,0-1.3-0.5-1.3-1.6s0.7-2.3,2.2-3.9c0.1-0.1,0.2-0.2,0.3-0.3L89,9.8c0.2-0.3,0.3-0.5,0.3-0.6l-0.1-0.2
		c-0.1-0.2-0.3-0.4-0.8-0.4s-0.9-0.1-1.2-0.1c-1.5,2.2-2.4,3.4-2.7,3.7c-0.2,0.3-0.4,0.4-0.5,0.4c-0.1-0.1-0.1-0.1-0.1-0.2
		c0-0.1,0.1-0.2,0.2-0.3c0.9-1.1,1.7-2.3,2.4-3.6c-0.2,0-0.4-0.1-0.5-0.2c-0.1-0.1-0.1-0.3,0-0.6C86,7.3,86.3,7,86.7,6.5
		c0.4-0.4,0.8-0.7,1.1-0.9c0.3-0.2,0.5-0.2,0.6-0.3c0.1,0,0.2-0.1,0.3-0.1c0.2,0,0.1,0.3-0.2,0.9l-1,1.6c0.8,0.1,1.4,0.1,2,0.1
		l0.9,0c0.3,0,0.5,0,0.6,0.1c0.1,0.1,0.2,0.2,0.1,0.4c-0.1,0.3-0.4,0.8-0.9,1.3c-1,1.2-1.8,2.5-2.3,3.8c-0.1,0.3-0.2,0.6-0.2,0.8
		c0,0.5,0.2,0.7,0.5,0.7c0.1,0,0.3-0.1,0.7-0.3c0.3-0.2,0.9-0.6,1.7-1.3c0.8-0.7,1.4-1.4,1.9-2.1c0.1-0.1,0.1-0.1,0.2-0.1
		c0.1,0,0.1,0.1,0.1,0.1c0,0,0,0.1-0.1,0.1c-0.3,0.5-0.7,1-1.4,1.8c-0.7,0.7-1.3,1.3-1.9,1.7C89,15.5,88.3,15.8,87.6,15.8z"/>
    <path d="M93.5,15.4c-0.3,0-0.6-0.1-0.9-0.2c-0.3-0.2-0.6-0.4-0.8-0.7c-0.2-0.3-0.3-0.6-0.3-1c0-0.3,0.1-0.7,0.2-1
		c0.3-0.7,0.9-1.4,1.6-2.1c0.8-0.7,1.5-1.2,2.4-1.7c0.8-0.5,1.5-0.8,1.9-0.9c0.5-0.1,0.9-0.2,1.4-0.2c0.5,0,0.8,0.1,1.2,0.3
		c0.3,0.2,0.5,0.5,0.5,0.7c0,0.1,0,0.1,0,0.2c0,0-0.1,0-0.1,0c-0.2-0.3-0.6-0.5-1.3-0.5c-0.6,0-1.4,0.2-2.2,0.6
		c-0.8,0.4-1.6,0.9-2.3,1.6c-0.6,0.6-1.1,1.2-1.6,1.9c-0.5,0.7-0.7,1.2-0.7,1.5c0,0.6,0.2,0.9,0.5,0.9c0.4,0,0.9-0.3,1.6-0.9
		c1.2-1,2-1.8,2.5-2.2c1.6-1.7,2.4-2.5,2.5-2.5c0.2,0,0.5,0.1,0.7,0.2c0.3,0.1,0.4,0.3,0.3,0.4c-0.9,1.2-1.4,2.5-1.5,3.7
		c0,0.2,0,0.3,0,0.6c0,0.2,0.1,0.4,0.2,0.6c0.3,0.3,0.6,0.3,1,0.1c0.4-0.2,1.1-0.7,1.9-1.4c0.8-0.7,1.4-1.4,1.9-2.1
		c0.1-0.1,0.1-0.1,0.2-0.1c0.1,0,0.1,0.1,0.1,0.1c0,0.3-0.4,0.8-1.2,1.7c-0.8,0.9-1.4,1.4-1.9,1.7c-0.8,0.6-1.5,0.9-2.2,0.9
		c-0.6,0-1.1-0.3-1.3-1C98,14.5,98,14.3,98,14c0-0.8,0.2-1.6,0.5-2.4c-0.1,0-0.4,0.4-0.9,1c-0.6,0.6-1.2,1.3-2,1.9
		C94.8,15.1,94.1,15.4,93.5,15.4z"/>
    <path d="M104.2,15.4c-0.2,0.3-0.3,0.5-0.1,0.6c0.1,0.2,0.3,0.2,0.4,0.2c0.2,0,0.3,0,0.5-0.1c0.7-0.2,1.4-0.7,2.1-1.3
		c0.7-0.7,1-1.3,1-2c0-0.4-0.4-0.8-1.3-1.2c-0.4-0.2-0.6-0.3-0.7-0.4c-0.5-0.3-0.7-0.6-0.9-0.9c-0.2,0.4-0.6,1-1.1,1.8
		c-0.1,0.1-0.2,0.2-0.3,0.1c-0.1-0.1-0.1-0.2,0-0.3c0.7-1,1.2-1.8,1.4-2.4c0.1-0.9,0.8-1.8,2-2.5s2.4-1.1,3.4-1.1
		c0.6,0,1.1,0.1,1.4,0.3c0.3,0.2,0.4,0.5,0.4,0.7s-0.1,0.5-0.2,0.8c-0.1,0.3-0.4,0.6-0.8,0.8c-0.1,0.1-0.2,0.1-0.3-0.1
		c0-0.1,0-0.2,0.2-0.4c0.2-0.2,0.3-0.4,0.3-0.7c0.1-0.3-0.1-0.5-0.4-0.6c-0.1,0-0.1,0-0.2,0c-0.7,0-1.5,0.2-2.5,0.7
		c-1,0.5-1.8,1.1-2.3,1.9c-0.2,0.3-0.3,0.6-0.3,0.9c0,0.3,0.2,0.6,0.6,0.8c0.2,0.1,0.5,0.3,0.9,0.5c0.4,0.2,0.7,0.4,0.9,0.5
		c0.2,0.1,0.4,0.3,0.6,0.5c0.2,0.2,0.4,0.4,0.4,0.6c0.1,0.5-0.2,1.1-0.7,1.7c-0.8,0.9-2,1.5-3.6,1.9c-0.4,0.1-0.7,0.1-1.1,0.1
		s-0.6-0.1-0.8-0.4c-0.1-0.1-0.1-0.2-0.1-0.3c0-0.1,0.1-0.4,0.4-0.7c0.3-0.3,0.7-0.5,1.2-0.7c0.1,0,0.1,0,0.1,0c0,0,0,0.1,0,0.1
		c0,0.1-0.1,0.1-0.3,0.2C104.6,15,104.4,15.1,104.2,15.4z"/>
</g>
</svg>
</template>

<style lang="scss">
    svg{
        width: 200px;
        height:auto;
        fill:#333333;
    }
</style>