<template>
  <nav>
    <h1>
      <NuxtLink to="/"><Logo /></NuxtLink>
    </h1>
    <ul>
      <li>
        <NuxtLink to="/about">About</NuxtLink>
      </li>
    </ul>
  </nav>
</template>

<script>
import Logo from "~/components/Logo.vue";
export default {
  components: {
    Logo,
  },
};
</script>

<style lang="scss" scoped>
nav {
  display: flex;
  justify-content: space-between;
  padding: 20px 10px;
  align-items: center;
  h1 {
    margin: 0;
  }
  svg {
    transition: all 0.4s ease-out;
    &:hover {
      fill: #9dd1bb;
    }
  }
  a {
    color: #333333;
    transition: all 0.3s ease-out;
    font-weight: bold;

    &:hover {
      color: #9dd1bb;
    }

    &.nuxt-link-active {
      color: #9dd1bb;
    }
  }

  ul {
    display: flex;
    justify-content: flex-end;
    margin: 0;
    padding: 0;
    li {
      margin: 0 20px;
      list-style-type: none;
    }
  }
}
</style>