<template>
  <div>
    <Navigation />
    <div class="container">
      <h1 class="text-center mt-10">Blog</h1>
      <Categories />
      <client-only>
        <div class="mt-10">
          <h1>{{ category.title }}</h1>
          <Articles :articles="articles || []" />
        </div>
      </client-only>
    </div>
    <Footer />
  </div>
</template>

<script>
import Articles from "../../components/Articles";
import Navigation from "~/components/Navigation.vue";
import Footer from "~/components/Footer.vue";
import Categories from "~/components/Categories.vue";

export default {
  components: {
    Articles,
    Navigation,
    Footer,
    Categories,
  },

  async asyncData({ $strapi, params }) {
    const matchingCategories = await $strapi.find("categories", {
      slug: params.slug,
    });
    return {
      category: matchingCategories[0],
      articles: await $strapi.find("articles", {
        "category.slug": params.slug,
      }),
    };
  },
};
</script>

<style lang="scss">
</style>