<template>
  <div>
    <nuxt />
  </div>
</template>

<script>
export default {
  data() {
    return {
      title: "Elke Moras",
    };
  },
  head() {
    return {
      title: this.title,
      meta: [
        // hid is used as unique identifier. Do not use `vmid` for it as it will not work
        {
          hid: "Elke Moras",
          name: "Elke Moras",
          content: "Elke Moras Portfolio Website",
        },
      ],
    };
  },
};
</script>

<style lang="scss">

html {
  width: 100%;
  height: 100%;
  font-family: "Mulish", sans-serif;
  font-weight: 300;
}

body {
  font-family: "Mulish", sans-serif;
  font-weight: 300;
  color: #333333;
  margin: 0;
  font-weight: normal;
  width: 100%;
}

h1 {
  font-size: 2.5rem;
  margin: 0;
}

h2 {
  font-size: 1.6rem;
}

h3 {
  font-weight: 500; 
  font-size: 1.2rem;
  line-height: 1.8;
}

p{
  font-weight: 300;
}

</style>
