<template>
  <div>
    <Navigation />
    <div class="container">
      <div class="flex flex-wrap justify-center p-5"> 
        <div class="w-full md:w-1/6">
          <h2>Ervaring</h2>
        </div>
        <div class="w-full md:w-4/6">
          <div
            v-for="(experience, index) in experiences"
            :key="experience.function"
            :data-index="index"
            class="mb-5"
          >
            <h3>{{ experience.function }}</h3>
            <p>{{ experience.company }}</p>
            <p>
              <small>{{ experience.date }}</small>
            </p>
            <p>{{ experience.description }}</p>
          </div>
        </div>
      </div>
      <div class="flex flex-wrap justify-center p-5">
        <div class="w-full md:w-1/6">
          <h2>Education</h2>
        </div>
        <div class="w-full md:w-4/6">
          <div
            v-for="(education, index) in educations"
            :key="education.name"
            :data-index="index"
            class="mb-5"
          >
            <h3>{{ education.school }}</h3>
            <p>{{ education.name }}</p>
            <p>
              <small>{{ education.date }}</small>
            </p>
            <p>{{ education.description }}</p>
          </div>
        </div>
      </div>
      <div class="flex flex-wrap justify-center p-5">
        <div class="w-full md:w-1/6">
          <h2>Trainings</h2>
        </div>
        <div class="w-full md:w-4/6">
          <div
            v-for="(training, index) in trainings"
            :key="training.name"
            :data-index="index"
            class="mb-5"
          >
            <h3>{{ training.organisation }}</h3>
            <p>{{ training.name }}</p>
            <p>
              <small>{{ training.date }}</small>
            </p>
            <p>{{ training.description }}</p>
          </div>
        </div>
      </div>
      <div class="flex flex-wrap justify-center p-5">
        <div class="w-full md:w-1/6">
          <h2>Tech Skills</h2>
        </div>
        <ul class="w-full md:w-4/6">
          <li
            v-for="(techskill, index) in techskills"
            :key="techskill"
            :data-index="index"
          >
            {{ techskill }}
          </li>
        </ul>
      </div>
      <div class="flex flex-wrap justify-center p-5">
        <div class="w-full md:w-1/6">
          <h2>Soft Skills</h2>
        </div>
        <ul class="w-full md:w-4/6">
          <li
            v-for="(softskill, index) in softskills"
            :key="softskill"
            :data-index="index"
          >
            {{ softskill }}
          </li>
        </ul>
      </div>
      <div class="flex flex-wrap justify-center p-5">
        <div class="w-full md:w-1/6">
          <h2>Languages</h2>
        </div>
        <ul class="w-full md:w-4/6">
          <li
            v-for="(language, index) in languages"
            :key="language"
            :data-index="index"
          >
            {{ language }}
          </li>
        </ul>
      </div>
      <div class="flex flex-wrap justify-center p-5">
        <div class="w-full md:w-1/6">
          <h2>iVolunteer</h2>
        </div>
        <div class="w-full md:w-4/6">
          <div
            v-for="(volunteerjob, index) in volunteerjobs"
            :key="volunteerjob.organisation"
            :data-index="index"
            class="mb-5"
          >
            <h3>{{ volunteerjob.organisation }}</h3>
            <p>
              <small>{{ volunteerjob.date }}</small>
            </p>
            <p>{{ volunteerjob.description }}</p>
          </div>
        </div>
      </div>
    </div>
    <Footer />
  </div>
</template>

<script>
import Navigation from "~/components/Navigation.vue";
import Footer from "~/components/Footer.vue";

export default {
  components: {
    Navigation,
    Footer,
  },
  data: function () {
    return {
      techskills: [
        "Extensive HTML knowledge",
        "CSS (including SASS & LESS)",
        "JavaScript (Including jQuery, but who still uses this?)",
        "Vue JS (Still exploring)",
        "PHP (Basic)",
        "Wordpress (Both front-end development & back-end development. Yes, I know how to Content Management too..)",
        "Custom Wordpress plugin development",
        "Processwire (Both front-end development & back-end development. Yes, I know how to Content Management too..)",
        "Laravel (I can template)",
        "Gulp/Grunt",
        "Adobe Photoshop",
        "Adobe Illustrator",
        "Adobe Animate CC",
        "Adobe XD, Sketch & Figma (They all basically have the same setup)",
      ],
      softskills: [
        "Project Management",
        "Information Architecture (CX workshops to determine the best structure for a project and/or website)",
        "Good sense of humor",
      ],
      languages: [
        "Dutch - Native",
        "English - Speaking & writing",
        "French - Speaking, but writing is also possible",
      ],
      educations: [
        {
          school: "Artevelde University College",
          name: "Postgraduate Experience Architect",
          date: "2019 - 2020",
          description:
            "Postgraduate education that focuses on Customer Experience & Service Design",
        },
        {
          school: "AP Hogeschool Antwerpen",
          name: "Bachelor Communicatiemanagement - Commerciële communicatie",
          date: "2011 - 2014",
          description: "Bachelor's degree in Advertising",
        },
        {
          school: "Howest Kortrijk",
          name: "1st year of Devine",
          date: "2010 - 2011",
          description: "Digital Design & Development",
        },
      ],
      trainings: [
        {
          organisation: "Karl Gilis from AGConsult",
          name: "UX/UI Masterclass",
          date: "2019",
          description:
            "One day training about the principles of UX/UI and CRO.",
        },
        {
          organisation: "Argonauts",
          name: "Introduction to Design Thinking",
          date: "2018",
          description:
            "One day training about Design Thinking & its principles.",
        },
        {
          organisation: "Intago",
          name: "Internet Architect",
          Year: "September 2017 - Februari 2018",
          description:
            "Multiple week course about the principles of Information Architecture, Customer Experience & CRO.",
        },
      ],
      experiences: [
        {
          company: "Typografics",
          date: "April 2017 - Present",
          function: "Service & Web designer & Fullstack Developer",
          description:
            "Currently working as a Service & Web Designer, Fullstack Developer and Project Manager at Typografics. ",
        },
        {
          company: "Talent Academy",
          date: "June 2017 - Present",
          function: "Talent Trainer",
          description:
            "Teaching Adobe Animate CC, MailChimp, Wordpress & how to create creative briefings for designers/developers at our Adobe Certified Academy. ",
        },
        {
          company: "Klasse",
          date: "April 2021 - Present",
          function: "Web Developer",
          description:
            "Project basis Wordpress web developer",
        }, 
        
        {
          company: "Wunderman Thompson Antwerp (former These Days Y&R)",
          date: "September 2014 - April 2017",
          function: "Web Designer & Creative Web Developer",
          description:
            "Fullstack Web Designer & Creative Web Developer. Sometimes also Project Manager.",
        },
        {
          company: "Make Agency",
          date: "January 2011 - March 2014",
          function: "Web designer, developer & Project manager",
          description: "Internship",
        },
      ],
      volunteerjobs: [
        {
          organisation: "Frag-o-Matic",
          date: "2016 - Present",
          description:
            "Social Media, Media, Web Design & Development, Animation Department",
        },
        {
          organisation: "KLJ Melsele",
          date: "2011 - Present",
          description: "Website maintenance, Youth Leader",
        },
        {
          organisation: "Jeugdraad Beveren",
          date: "2013 - 2017",
          description: "Youth council member",
        },
      ],
      animation: {
        delay: 200,
      },
    };
  },
  methods: {},
};
</script>

<style lang="scss">
ul {
  li {
    list-style-type: disc;
    margin-bottom: 0.5rem;
	margin-left: 1rem;
  }
}
</style>