<template>
	<div>
		<Navigation />
		<div class="container">
			<h1 class="text-center mt-10">
				Blog
			</h1>
			<Categories />
			<Articles :articles="articles" />
		</div>
		<Footer />
	</div>
</template>

<script>
import Navigation from "~/components/Navigation.vue";
import Footer from "~/components/Footer.vue";
import Articles from "~/components/Articles.vue";
import Categories from "~/components/Categories.vue";

export default {
	components: {
		Navigation,
		Articles,
		Footer,
		Categories
	},
	async fetch() {
		this.articles = await this.$strapi.find("articles");
	},
	data: function () {
		return {
			articles: [],
		};
	},
};
</script>

<style lang="scss" scoped>

</style>
