<template>
    <div>
        <Navigation/>
        <Hero/>
    </div>
</template>

<script>
  import Navigation from '~/components/Navigation.vue'
  import Hero from '~/components/Hero.vue'
  import Footer from '~/components/Footer.vue'

  export default {
    components: {
      Navigation,
      Hero,
      Footer
    }
  }
</script>

<style lang="scss">

</style>
