<template>
	<div>
		<Navigation />
		<div class="c-projects o-container">
			<div class="o-grid u-padding-md">
				<div class="o-col o-col-12 o-col-2-md">
					<h2>Projects</h2>
				</div>
				<div class="o-col o-col-12 o-col-10-md">
						<div
							v-for="(project, index) in projects"
							:key="project.name"
							:data-index="index"
							class="c-project-content"
						>
							<h3 class="u-margin-none">{{ project.name }}</h3>
							<p class="u-margin-none">{{ project.client }}</p>
							<p class="u-margin-none">{{ project.description }}</p>
							<a :href="project.url" target="_blank">{{project.url}}</a>
						</div>
				</div>
			</div>
		</div>
		<Kleurcode />
		<Footer />
	</div>
</template>

<script>
import Navigation from "~/components/Navigation.vue";
import Footer from "~/components/Footer.vue";
import Kleurcode from "~/components/Kleurcode.vue";

export default {
	components: {
		Navigation,
		Kleurcode,
		Footer
	},
	data: function() {
		return {
			projects: [
				{
					client: "PhotographyKimus",
					name: "Wordpress website for event & portret photographher Kim Moras",
					description: "Website design & development for PhotographyKimus.",
					url: "https://www.photographykimus.be"
				},
				{
					client: "KLJ Melsele",
					name: "Processwire Website KLJ Melsele",
					description: "New website for youth movement KLJ Melsele",
					url: "https://www.kljmelsele.be"
				},
				{
					client: "Chapeau Digital",
					name: "Frontend Amfi XL website",
					description: "Frontend for the static pages of the Amfi XL website",
					url: "https://www.amfixl.nl"
				}
			],
			animation: {
				delay: 200
			}
		};
	},
	methods: {
		beforeEnter: function(el) {
			el.style.opacity = 0;
		},

		enter: function(el, done) {
			var delay = el.dataset.index * this.animation.delay;
			setTimeout(function() {
				Velocity(el, { opacity: 1 }, { complete: done });
			}, delay);
		}
	}
};
</script>

<style lang="scss">
.c-project-content {
	border-bottom: 1px solid #cccccc;
	padding: 20px 0;
	a {
		text-decoration: underline;
		font-weight: 600;
		transition: all 0.4s ease-out;
		&:hover{
			color: #ff5e62;
	}
	}
}
</style>