<template>
    <div>
        <Navigation/>
        <div class="c-projects o-container">
            <div class="o-grid u-padding-md">
                <div class="o-col o-col-12 o-col-2-md">
                    <h2>Projects</h2>
                </div>
                <div class="o-col o-col-12 o-col-10-md">
                  
                        <div v-for="(project, index) in projects" :key="project.name" :data-index="index" class="c-project-content">
                            <h3 class="u-margin-none">{{ project.name }}</h3>
                            <p class="u-margin-none">{{ project.client }}</p>
                            <p class="u-margin-none">{{ project.description }}</p>
                            <a :href="project.url" target="_blank">{{project.url}}</a>
                        </div>
                </div>
            </div>
        </div>
        <Kleurcode/>
        <Footer/>
    </div>
</template>

<script>
  import Navigation from '~/components/Navigation.vue'
  import Footer from '~/components/Footer.vue'
  import Kleurcode from '~/components/Kleurcode.vue'

  export default {
    components: {
      Navigation,
      Kleurcode,
      Footer
    },
    data: function () {
      return {
        projects: [
          {
            'client': 'Farmad',
            'name': 'Wordpress Website for Farmad',
            'description': 'Wordpress development & Gutenberg development for the Farmad website.',
            'url': 'https://www.farmad.be'
          },
          {
            'client': 'Porter Novelli',
            'name': 'Wordpress Website Health Parliament',
            'description': 'Wordpress development & implementation of the redesign of the EHP website.',
            'url': 'https://www.healthparliament.eu'
          },
          {
            'client': 'Oase Office',
            'name': 'Processwire Website Oase Office',
            'description': 'Implementing the Oase Office redesign with dynamic customisable blocks (the waves, lines,...)',
            'url': 'https://www.oaseoffice.eu'
          },
          {
            'client': 'Vigotec',
            'name': 'Processwire Website Vigotec',
            'description': 'New website for Vigotec',
            'url': 'https://www.vigotec.be'
          },
          {
            'client': 'Technorail',
            'name': 'Processwire Website Technorail',
            'description': 'New website for Technorail',
            'url': 'https://www.technorail.be'
          },
          {
            'client': 'Sylvia De Backer',
            'name': 'Processwire Website OwnIt',
            'description': 'New website for mental health coach Own It',
            'url': 'https://www.ownit.be'
          },
          {
            'client': 'Sylvia De Backer',
            'name': 'Processwire Website Capii Services',
            'description': 'New website for mental health coach & burnout coach Capii Services',
            'url': 'https://www.ownit.be'
          },
        ],
        animation: {
          delay: 200
        }
      }
    },
    methods: {
      beforeEnter: function (el) {
        el.style.opacity = 0
      },

      enter: function (el, done) {
        var delay = el.dataset.index * this.animation.delay
        setTimeout(function () {
          Velocity(el, {opacity: 1}, {complete: done})
        }, delay)
      },
    }
  }

</script>

<style lang="scss">
    .c-project-content {
        border-bottom: 1px solid #CCCCCC;
        padding: 20px 0;
        a{
            text-decoration: underline;
            font-weight:600;
        }
    }
</style>